@import url(//fonts.googleapis.com/css?family=Rock+Salt);
@import url(//fonts.googleapis.com/css?family=Permanent+Marker);
.container {
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100vw;
}

.wall {
  background: url("https://images.unsplash.com/photo-1508341421810-36b8fc06075b?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=46c4a1eb3ddb994547163b77e9565385");
  background-size: cover;
  height: 75%;
  position: relative;
  width: 100%;
}

.graffiti {
  font-size: 4em;
  margin-top: 7%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.graffiti del {
  color: red;
}
.graffiti del, .graffiti p {
  font-family: 'Rock Salt', cursive;
}
.graffiti ins {
  color: yellow;
  font-family: 'Permanent Marker', cursive;
}

.grass {
  background: url(https://images.unsplash.com/photo-1457536610610-bf4b249617c7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=79f48ca96e45be12bb0754e73c28e207);
  margin-top: -30vh;
}

.grass, .walk {
  height: 40%;
  -webkit-transform: rotateX(80deg);
          transform: rotateX(80deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 100%;
}

.walk {
  display: flex;
}
.walk .line {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1848751/Screen%20Shot%202018-05-07%20at%2012.18.26%20PM.png);
  background-size: cover;
  width: 20%;
  border-right: 2px solid #444;
}
